<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <link rel="stylesheet" type="text/css" href="../static/css/admin.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Admin panel</title>
</head>
<body>

<!-- панель сверху -->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">

            <h4><span id="email"></span> <span class="witchRoles">witch roles</span> <span id="roles"></span></h4>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>

<!-- Панель слева -->
<div class="container-fluid">
    <div class="row">
        <div class="col-2 leftPanel">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-admin" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-user" role="tab"
                   aria-controls="v-pills-user" aria-selected="false">User</a>
            </div>
        </div>

        <!-- Выпадающие меню справа -->
        <div class="col-10 rightPanel">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active adminPanel" id="v-pills-admin" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <!-- Содержимое вкладки админ -->
                    <H1>Admin panel</H1>
                    <!-- Меню Users table и New User -->

                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#description">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#characteristics">New User</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="description">
                            <table class="table table-striped">

                                <!-- Сама таблица -->
                                <h3>All users</h3>
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody id="userTable"></tbody>
                            </table>
                        </div>

                        <!-- new user -->
                        <div class="tab-pane fade " id="characteristics">
                            <h3>Add new user</h3>
                            <div class="row new">
                                <div class="col align-self-center newUser">
                                    <form>
                                        <div class="form-group">
                                            <div class="textNewUser"><label for="name">First name</label></div>
                                            <div class="inputNewUser"><input type="text" class="form-control"
                                                                             id="name"></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="textNewUser"><label for="family">Last name</label></div>
                                            <div class="inputNewUser"><input type="text" class="form-control"
                                                                             id="family"></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="textNewUser"><label for="age">Age</label></div>
                                            <div class="inputNewUser"><input type="text" class="form-control"
                                                                             id="age"></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="textNewUser"><label for="emailNewUser">Email</label></div>
                                            <div class="inputNewUser"><input type="email" class="form-control"
                                                                             id="emailNewUser"></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="textNewUser"><label for="password">Password</label></div>
                                            <div class="inputNewUser"><input type="password" class="form-control"
                                                                             id="password"></div>
                                        </div>
                                        <div class="inputNewUser" id="roleNewUser">
                                            <select class="custom-select" size="2">
                                                <option value="1">ADMIN</option>
                                                <option value="2">USER</option>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-success btnAddNewUser" id="addNewUser">Add
                                            new user
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- UserInfo -->
                <div class="tab-pane fade userInfo" id="v-pills-user" role="tabpanel">
                    <div class="tab-pane fade show active adminPanel" id="v-pills-user2" role="tabpanel"
                         aria-labelledby="v-pills-home-tab">
                        <!-- Содержимое вкладки User -->
                        <H1>User information-page</H1>

                        <div class="tab-pane fade show active" id="userInfo">
                            <table class="table table-striped">

                                <!-- Сама таблица -->
                                <h3>About user</h3>
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody id="userInfoTable"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="deleteModalWindow">

        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deliteModalLabel">Delete user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>

                            <div class="form-group">
                                <div class="textNewUser"><label for="name">ID</label></div>
                                <div class="inputNewUser"><input type="text" class="form-control" readonly
                                                                 id="idDelete"></div>
                            </div>


                            <div class="form-group">
                                <div class="textNewUser"><label for="name">First name</label></div>
                                <div class="inputNewUser"><input type="text" class="form-control" readonly
                                                                 id="nameDelete"></div>
                            </div>
                            <div class="form-group">
                                <div class="textNewUser"><label for="family">Last name</label></div>
                                <div class="inputNewUser"><input type="text" class="form-control" readonly
                                                                 id="familyDelete"></div>
                            </div>
                            <div class="form-group">
                                <div class="textNewUser"><label for="age">Age</label></div>
                                <div class="inputNewUser"><input type="text" class="form-control" readonly
                                                                 id="ageDelete"></div>
                            </div>
                            <div class="form-group">
                                <div class="textNewUser"><label for="emailNewUser">Email</label></div>
                                <div class="inputNewUser"><input type="email" class="form-control" readonly
                                                                 id="emailDelete"></div>
                            </div>
                            <div class="form-group">
                                <div class="textNewUser"><label for="password">Password</label></div>
                                <div class="inputNewUser"><input type="password" class="form-control" readonly
                                                                 id="passwordDelete"></div>
                            </div>
                            <div class="inputNewUser" id="roleDelete">
                                <select disabled class="custom-select" size="2">
                                    <option value="1">ADMIN</option>
                                    <option value="2">USER</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="delete" class="btn btn-primary">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="updatingModalWindow">

        <!-- Modal -->
        <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeUpdateModal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>

                            <div class="form-group">
                                <div class="textNewUser"><label for="name">ID</label></div>
                                <div class="inputNewUser"><input type="text" class="form-control" readonly
                                                                 id="idUpdate"></div>
                            </div>


                            <div class="form-group">
                                <div class="textNewUser"><label for="name">First name</label></div>
                                <div class="inputNewUser"><input type="text" class="form-control"
                                                                 id="nameUpdate"></div>
                            </div>
                            <div class="form-group">
                                <div class="textNewUser"><label for="family">Last name</label></div>
                                <div class="inputNewUser"><input type="text" class="form-control"
                                                                 id="familyUpdate"></div>
                            </div>
                            <div class="form-group">
                                <div class="textNewUser"><label for="age">Age</label></div>
                                <div class="inputNewUser"><input type="text" class="form-control"
                                                                 id="ageUpdate"></div>
                            </div>
                            <div class="form-group">
                                <div class="textNewUser"><label for="emailNewUser">Email</label></div>
                                <div class="inputNewUser"><input type="email" class="form-control"
                                                                 id="emailUpdate"></div>
                            </div>
                            <div class="form-group">
                                <div class="textNewUser"><label for="password">Password</label></div>
                                <div class="inputNewUser"><input type="password" class="form-control"
                                                                 id="passwordUpdate"></div>
                            </div>
                            <div class="inputNewUser" id="roleUpdate">
                                <select class="custom-select" size="2">
                                    <option value="1">ADMIN</option>
                                    <option value="2">USER</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="edit" class="btn btn-primary">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- ajax -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<link href="../static/css/admin.css" type="text/css" th:href="@{/css/admin.css}" rel="stylesheet"/>
</body>
</html>